@import '../../globals.scss';

.DailyProfileChart {
    .prediction-chart-current-values {
        text-align: left;
        margin-left: 50px;
        width: calc(100% - 70px);
        padding: 5px;
        border-bottom: 2px solid $mainllColor;

        .prediction-chart-label {
            display: inline-block;
            color: $mainlColor;
            font-size: 80%;
            font-weight: bold;
        }

        .prediction-chart-value {
            display: inline-block;
            font-weight: bold;
            font-size: 80%;
            margin-left: 10px;
            color: $hlColor;
            margin-right: 30px;

            &.forecast {
                color: $forecastColor;
            }
        }

        .prediction-chart-date {
            display: inline-block;
            font-weight: bold;
            font-size: 80%;
            width: 160px;
            margin-left: 10px;
            margin-right: 10px;
            color: $hlColor;
        }
    }

    .d3-chart {
        .point {
            fill: white;
            stroke: $hlColor;
            stroke-width: 3;
            cursor: pointer;
            transition: stroke 1s;
            opacity: 0;

            &.outlier {
                fill: $hlColor;
                opacity: 1;
            }
        }

        .median-line {
            fill: none;
            stroke-width: 3;
            stroke: $hlColor;
            cursor: pointer;
        }

        .pattern-line {
            fill: none;
            stroke-width: 3;
            stroke: magenta;
            cursor: pointer;
            stroke-dasharray: 4 4;
        }

        .bands-line {
            fill: transparentize($hlColor, 0.95);
            stroke-width: 2;
            stroke: transparentize($hlColor, 0.85);
            cursor: pointer;
        }
    }
}