@import '../../globals.scss';

//$cellColor: darken($hlColor, 20%);
$cellColor: $normalValueColor;
$cellMargin: 1px;
$cellSize: 14px;
$cellBorderColor: white;
$selectionBorderColor: green;
$emptyCellColor: rgba(128, 128, 128, 0.3);
$maxWeeks:52;

@mixin month-offsets {
    @for $i from 0 through $maxWeeks - 1 {
        .offset-#{$i} {
            left: ($cellSize + 2*$cellMargin) * $i;
        }
    }
}

.VerticalCalendar {

    width: 172px;
    margin: 10px auto;
    @include month-offsets;

    .level-0 {
        background-color: lighten($cellColor, 65%);

        &.outlier {
            background-color: lighten($outlierColor, 65%);
        }
    }

    .level-1 {
        background-color: lighten($cellColor, 50%);

        &.outlier {
            background-color: lighten($outlierColor, 50%);
        }
    }

    .level-2 {
        background-color: lighten($cellColor, 30%);

        &.outlier {
            background-color: lighten($outlierColor, 30%);
        }
    }

    .level-3 {
        background-color: lighten($cellColor, 15%);

        &.outlier {
            background-color: lighten($outlierColor, 15%);
        }

    }

    .level-4 {
        background-color: $cellColor;

        &.outlier {
            background-color: $outlierColor;
        }

    }

    .sales-calendar-legend {
        position: relative;
        width: 100%;
        right: 15px;
        text-align: right;
        margin-top: 10px;

        .cell {
            display: inline-block;
            width: $cellSize;
            height: $cellSize;
            margin: 0px;
            border: $cellMargin solid white;
            box-sizing: content-box;
        }

        .sales-calendar-legend-label {
            font-size: 80%;
            vertical-align: text-top;
            margin: 0px 5px;
            color: lighten($mainColor, 0.5);
        }
    }


    .sales-calendar-month {
        font-size: 11px;
        display: inline-block;
        color: $mainColor;
        width: 30px;
        position: relative;
        top: -4px;
    }

    // .sales-calendar-months-row {
    //     height: $cellSize + 2* $cellMargin;
    //     padding: $cellMargin;
    //     box-sizing: border-box;
    //     text-align: left;
    //     margin-left: $cellSize + 4*$cellMargin;
    //     position: relative;
    // }

    .sales-calendar-row {
        height: $cellSize + 2* $cellMargin;
        padding: $cellMargin;
        box-sizing: border-box;
        text-align: left;
        display: block;
    }

    .sales-calendar-row-wday {
        //width: $cellSize;
        height: $cellSize;
        font-size: 12px;
        margin: $cellMargin $cellMargin $cellMargin 30px;
        box-sizing: border-box;
        position: relative;
        top: -2px;
        color: $mainColor;
        text-align: left;

        .sales-calendar-wday {
            width: $cellSize;
            margin: $cellMargin;
            box-sizing: border-box;
            display: inline-block;
            text-align: center;
        }
    }

    .sales-calendar-cell {
        width: $cellSize;
        height: $cellSize;
        margin: 0px;
        border: $cellMargin solid $cellBorderColor;
        box-sizing: content-box;
        display: inline-block;
        cursor: pointer;

        &:not(.empty-cell):not(.selected):hover {
            border: $cellMargin solid $selectionBorderColor;
            transition: border-color .2s linear;
        }

        // &.outlier:after {
        //     content: '*';
        //     position: relative;
        //     left: 4px;
        //     color: rgb(255, 217, 0);
        // }

        &.selected {
            width: $cellSize + 2*$cellMargin;
            height: $cellSize + 2*$cellMargin;
            border: none;
            cursor: default;

            animation: cellPulse 2s infinite;


            @keyframes cellPulse {
                0% {
                    opacity: 1;
                }

                20% {
                    opacity: 0;
                }

                30% {
                    opacity: 1;
                }
            }


        }


        &.empty-cell {
            border-color: $cellBorderColor;
            background-color: $emptyCellColor;
            cursor: not-allowed;
        }
    }

}